html,body,*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hero{
  background-image: url("../img/taxi.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}
#hero img{
  width: 100%;
  height: 100%;
}
#conduce{
  background-image: url("../img/conduce.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#conduce img{
  width: 100%;
  height: 100%;
}
#map {
  height: 500px;
  width: 500px;
}
bg-orange{
  background-color: rgb(247,182,23);
}
