body *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Raleway", "Open Sans";
}
.txt-white{
  color: white;
}
.txt-black{
  color: black;
}
.bg-orange{
  background-color: rgb(247,182,23);
}
.bg-darkslategray{
  background-color: rgb(43,43,43);
}
.bg-white{
  background-color: rgb(253,254,254);
}
.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.flex-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*.flex-column-start{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-startr;
  align-content:flex-start;
}
.flex-row-stretch{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}*/
/*NAV SECTION*/
.navbar{
  border: none;
  padding: 20px 0;
  margin-bottom: 0;
}
.navbar button{
  border: none;
}
nav .collapse li{
  padding: 5px 0;
}
/*HERO SECTION*/

#hero {
  background-image: url(../img/taxi.jpg);
  background-size:cover;
  background-position: 100% 93%;/*horizontal vertical*/
  background-repeat: no-repeat;
}
.padding-150px{
  padding: 150px 0px;
}
.padding-10px{
  padding: 10px;
}
.padding-30px{
  padding: 30px;
}
.padding-bottom-50px{
  padding-bottom: 50px;
}
#hero button{
  font-weight: bold;
}
#hero form input{
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;
  width: 120px;
}
#hero form input:active,#hero form input:focus{
  outline: none;
}

/*INFO SECTION*/

.info-border-margin{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  margin: 20px 20px 20px 0;
  padding: 10px;
}
  @media (max-width:992px) {
    .info-border-margin{
      border: 1px solid white;
      margin: 20px;
      padding: 10px;
      }
    #info .row{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    #conduce .sombra{
      /*background-color: rgba(0, 0, 0, 0.5);
      padding-top: 80px;*/
      padding: 80px 20px 80px 20px;
    }
    #tarifa button{
      margin-left: 10%;
    }
    }
/*CONDUCE SECTION*/
#conduce{
  background-image: url(../img/conduce.jpg);
  background-size: cover;
  background-position: center;
}
.sombra{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 80px 20px 150px 20px;

}
#conduce button{
  font-weight: bold;
}
/*TARIFA SECTION*/
#input-partida, #input-llegada{
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
#tarifa ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
#tarifa button{
  margin-left: 40%;
  font-weight: bold;
}
.map{
  border: 1px solid white;
  padding: 10px;
  width: 300px;
  height: 300px;
  margin: 20px;
}
/*FOOTER SECTION*/
.border-bottom-1{
  border-bottom: 1px solid white;
}
footer ul li a{
  color: white;
}
.redes-sociales{
  padding-top: 300px;
}
.store{
  padding-top: 200px;
}
.r-sociales-xs{
  padding-bottom: 30px;
  padding-left: 10px;
}
